html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toolbar {
  background-color: #F5F5F5;
}

.MuiOutlinedInput-root {
  height: 34px;
  background: white;
  font-size: .9rem;
}

.disabled {
  pointer-events: none;
}
