.contentWrapper {
  min-height: calc(100vh - 48px);
}

.filmEpisode {
  color: #605e5e;
  text-transform: uppercase;
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listWrapper {
  border-right: 1px solid #0000001f;
}

.filmData {
  padding: 2vw;
}

.sortBtn {
  width: 120px;
  text-transform: capitalize;
  height: 34px;
  margin-right: 1.5vw;
}

.sortMenu {
  width: 160px;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .leftSide {
    min-height: calc(100vh - 48px);
  }

  .rightSide {
    min-height: calc(100vh - 48px);
  }

  .listWrapper {
    min-height: calc(100vh - 48px);
  }
}
